# --- Web Scraping ---
beautifulsoup4
scrapy
selenium


# --- Data Analysis ---
pandas
numpy=1.26.4
scipy
matplotlib
statsmodels
scikit-learn
pmdarima=2.0.4 
statsmodels

# --- SOAP & HTTP Requests ---
zeep
requests

