# --- Web Scraping ---
beautifulsoup4
scrapy
selenium


# --- Data Analysis ---
pandas
numpy
scipy
matplotlib
statsmodels
scikit-learn
pmdarima 
statsmodels

# --- SOAP & HTTP Requests ---
zeep
requests


# --- Others ---
fastapi
uvicorn
python-multipart==0.0.6
pydantic==2.3.0