# --- Web Scraping ---
beautifulsoup4
scrapy
selenium


# --- Data Analysis ---
pandas
numpy
scipy
matplotlib
statsmodels
scikit-learn
pmdarima 
statsmodels

# --- SOAP & HTTP Requests ---
zeep
requests

